<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />

    <title>otnode.com</title>
    <meta content="" name="description" />
    <meta content="" name="keywords" />

    <!-- Favicons -->
    <link href="/image/favicon.png" rel="icon" />
    <link href="/image/apple-touch-icon.png" rel="apple-touch-icon" />

    <!-- Google Fonts -->
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
      rel="stylesheet"
    />

    <!-- Vendor CSS Files -->
    <link href="/vendor/aos/aos.css" rel="stylesheet" />
    <link href="/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet" />
    <link href="/vendor/boxicons/css/boxicons.min.css" rel="stylesheet" />
    <link href="/vendor/glightbox/css/glightbox.min.css" rel="stylesheet" />
    <link href="/vendor/remixicon/remixicon.css" rel="stylesheet" />
    <link href="/vendor/swiper/swiper-bundle.min.css" rel="stylesheet" />

    <!-- Template Main CSS File -->
    <link href="/public/stylesheets/style.css" rel="stylesheet" />
    <link rel="stylesheet" href="/stylesheets/style.css" type="text/css" />
    <link rel="stylesheet" href="/stylesheets/style.scss" type="text/css" />
    <link rel="stylesheet" href="/javascripts/main.js" type="text/css" />

    <!-- =======================================================
  * Template Name: OnePage - v4.7.0
  * Template URL: https://bootstrapmade.com/onepage-multipurpose-bootstrap-template/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script>
    let data;
    let owner_address;
    let chain_id;

    data = `<%- locals.data %>`
    owner_address = localStorage.getItem('owner_address');
    chain_id = localStorage.getItem('chain_id');

    console.log(data)
  </script>
  </head>

  <body>
    <!-- ======= Header ======= -->
    <header style="background: none;">
      <div class="d-flex align-items-center justify-content-between" >
        <a href="/search" style="color: #6168ed;margin-left:2.5%;font-size:28px;font-family: OCR A Std, monospace;">otnode.com</a>
        <div class="form-group" style="margin-left: 80px;">
          <div class="input-group" style="white-space:nowrap;" id="searchbar">

          </div>
        </div>
        <a href="/search" class="logo" style="color: #6168ed"></a>
        <!--<h1 class="logo"><a href="img/Logo.jpg">Public DKG Beta</a></h1>-->
        <!-- Uncomment below if you prefer to use an image logo -->
        <a href="/search" class="logo" style="color: #6168ed"></a>

        <nav id="navbar" class="navbar">
          <ul>
            <li id="MM">

            </li>
            <li id="explore">

            </li>
          </ul>
        </nav>
        <!-- .navbar -->
      </div>
    </header>
    <html>
    <body>
    <!-- End Header -->
    <!-- <main id="main" style="height: calc(100vh - 85px)">

        <section id="hero" style="height: calc(100vh - 85px)">
          <div id="dashboard">
            <div id="row1" class="d-flex"></div>
            <div id="row2" class="d-flex"></div>
  
            <form id="owner_login_form" action="/publish" method="GET">
          
            </form>
          </div>
  
        </section>
      </main> -->

    <main id="main">
        <form id="post_publish_refresh" action="/publish" method="POST">
            <input type="text" name="keywords" id="_keywords" style="display:none;" value=""></input>
            <input type="text" name="ual" id="_ual" style="display:none;" value=""></input>
            <input type="text" name="type" id="_type" style="display:none;" value=""></input>
            <input type="text" name="epochs" id="_epochs" style="display:none;" value=""></input>
            <input type="text" name="owner_address" id="_owner_address" style="display:none;" value='<%- locals.owner_address %>'></input>
            <input type="text" name="txn_id" id="_txn_id" style="display:none;" value=""></input>
            <input type="text" name="txn_data" id="_txn_data" style="display:none;" value=""></input>
            <input type="text" name="assertionId" id="_assertionId" style="display:none;" value=""></input>
            <input type="text" name="operationId" id="_operationId" style="display:none;" value=""></input>
            <input type="text" name="fee" id="_fee" style="display:none;" value=""></input>
            <input type="text" name="dkg_txn" id="_dkg_txn" style="display:none;" value=""></input>
          </form>
      </main> 
      <section id="hero">
        <div id="dashboard">
          <div id="row1" class="d-flex"></div>
        </div>

      </section>
    <!-- End #main

     ======= Footer ======= -->
    <footer id="footer" style="position: fixed; bottom: 0; width: 100%">
      <div class="container d-md-flex py-4">

        </div>
      </div>
    </footer>
    <!-- End Footer -->

    <!-- Vendor JS Files -->
    <script src="vendor/purecounter/purecounter.js"></script>
    <script src="vendor/aos/aos.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="vendor/glightbox/js/glightbox.min.js"></script>
    <script src="vendor/isotope-layout/isotope.pkgd.min.js"></script>
    <script src="vendor/swiper/swiper-bundle.min.js"></script>
    <script src="vendor/php-email-form/validate.js"></script>

    <!-- Template Main JS File -->
    <script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-date-fns/dist/chartjs-adapter-date-fns.bundle.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="/javascripts/main.js"></script>
    <script src="/javascripts/publish.js"></script>
    <script src="/util/work.js"></script>
    <script>
        if(owner_address){
            nav(owner_address, chain_id);
            if(data){
                data = JSON.parse(data)
            } 
            body(data,owner_address);
            type = document.getElementById("Action")
            document.getElementById("type").value = "Action"
            type.click();
            
        }else{
            loggedOut();
        }
    </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script>
        function pleasewait_publish() {
            var x = document.getElementById("pw_publish");
            var y = document.getElementById("publish_button");
            if(x.style.display === "none" && document.getElementById("keywords").value.length != 0 && document.getElementById("type").value.length != 0){
              x.style.display = "block";
              y.style.display = "none";
            }else{
              x.style.display = "none";
            }
        }
        function getwait() {
            var x = document.getElementById("get_button");
            x.style.display = "none";
        }

        function updatewait() {
            var x = document.getElementById("update_button");
            x.style.display = "none";
        }

        if(`<%- locals.data %>` == "blocked"){
        var z = document.getElementById("blocked");
        z.style.display = "block";
        }

    </script>
    <script src="https://cdn.jsdelivr.net/npm/web3@latest/dist/web3.min.js"></script>
    <script src="https://cdn.ethers.io/lib/ethers-5.2.umd.min.js" type="application/javascript"></script>
    <script src="dkg.js/dist/dkg.min.js"></script>
    <script>
        async function sendPublish(){
          
          try{
            document.getElementById("publish_button").style.display = "none";
            let activeChainId;
            let txn_id;
            let keywords;
            let fee;
            let epochs;
            let assetData;
            let chain;
            
            activeChainId = localStorage.getItem("activeChainId")
            keywords = document.getElementById("keywords").value
            fee = document.getElementById("fee").value
            epochs = document.getElementById("epochs").value
            type = document.getElementById("type").value
            
            function isJsonString(str) {
                try {
                    JSON.parse(str);
                } catch (e) {
                    return 'false';
                }
                return 'true';
            }
            
            assetData = {}
            $("#form_elements input[type=text]").each(function () {
              assetData[this.id] = $(this).val();
            });

          console.log(assetData)
          await work(assetData);
          console.log(assetData)

          assetData = document.getElementById("txn_data").value;
          assetData = JSON.parse(assetData)
          assetData["@type"] = type;
          assetData = [assetData]

            valid_json = await isJsonString(JSON.stringify(assetData));
            if(valid_json == 'false'){
              console.log(`Invalid JSON.`)
              return
            }
          
            if (!activeChainId){
                console.log("No active chain id.")
                document.getElementById("invalid_chain").style.display = "block";
                return;
            }

            if (activeChainId === '0x4fce'){
                chain = `otp::testnet`
                ot_node_hostname = `https://www.otnode.com`
                node_port= `8900`
            }

            if (activeChainId === '20430'){
                chain = `otp::mainnet`
                ot_node_hostname = `https://www.otnode.com`
                node_port= `8901`
            }

            if(!chain){
              console.log(`Unsupported network: ${activeChainId}`)
              document.getElementById("invalid_chain").style.display = "block";
              return;
            }

            if(!keywords){
              keywords = `otnodedotcom`
            }else{
              keywords = keywords.replace("'", "");
              keywords = keywords.replace('"', "");
              keywords = keywords + ",otnodedotcom,"+owner_address;
            }

            if(!epochs){
              epochs = 2
            }

            if(!fee){
              publishOptions= {
                  epochsNum: epochs,
                  maxNumberOfRetries: 30,
                  frequency: 1,
                  keywords: keywords,
                  blockchain : {
                      name: chain,
                  },
                  contentType: 'all'
              }
            }else{
              publishOptions= {
                  epochsNum: epochs,
                  maxNumberOfRetries: 30,
                  frequency: 1,
                  tokenAmount: ethers.utils.parseEther(fee),
                  keywords: keywords,
                  blockchain : {
                      name: chain,
                  },
                  contentType: 'all'
              }
            }

          const options = {
              endpoint: ot_node_hostname,
              port: node_port
          };

          window.DkgClient = new DKG(options);
          console.log("client initialized")

          //console.log(JSON.stringify(assetData))

          minted_asset = await DkgClient.asset.create({
            public: assetData,
          },publishOptions)
              .then(result => {
                  console.log({ assertionId: result.assertionId, UAL: result.UAL })
                  return result;
              });
          
          document.getElementById("_txn_id").value = txn_id;
          document.getElementById("_type").value = type;
          document.getElementById("_txn_data").value = JSON.stringify(assetData);
          document.getElementById("_keywords").value = keywords;
          document.getElementById("_fee").value = fee;
          document.getElementById("_epochs").value = epochs;
          document.getElementById("_ual").value = minted_asset.UAL;
          document.getElementById("_assertionId").value = minted_asset.assertionId;
          document.getElementById("_operationId").value = minted_asset.operationId;
          document.getElementById("_owner_address").value = owner_address;
          document.getElementById("_dkg_txn").value = JSON.stringify(minted_asset);
          document.getElementById("post_publish_refresh").submit();   
        }catch(e){
            document.getElementById("publish_button").style.display = "block";
          }           
        }
    </script>
    <script src="/javascripts/metamask.js"></script>