/* Hide the input */
input[type="checkbox"] {
    position: absolute;
    opacity: 0;
    z-index: -1;
  }
  
  .check-trail {
    display: flex;
    align-items: center;
    width: 9em;
    height: 5em;
    background: #2c3e50;
    border-radius: 2.5em;
    transition: all .5s ease;
    cursor: pointer;
  }
  .check-handler {
    display: flex;
    margin-left: 0.5em;
    justify-content: center;
    align-items: center;
    width: 4em;
    height: 4em;
    background: #34495e;
    border-radius: 50%;
    transition: all .5s ease;
    box-shadow: 0 0 8px rgba(0,0,0,0.3);
    &:before {
      content: "\00D7";
      color: white;
      font-size: 2em;
      font-weight: bold;
    }
  }
  input[type="checkbox"]:checked + .check-trail {
    background: #16a085;
    .check-handler {
      margin-left: 50%;
      background: #1abc9c;
      &::before {
        content: "\2714"
      }
    }
  }

  